<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.5.2" targetFramework="net461" />
  <package id="Catel.Extensions.Controls" version="4.5.2" targetFramework="net461" />
  <package id="Catel.MVVM" version="4.5.2" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.4.4" targetFramework="net461" />
</packages>